leads-360-papi/src/main/mule/lead-360-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:salesforces-api="http://www.mulesoft.org/schema/mule/salesforces-api" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:call-centers-api="http://www.mulesoft.org/schema/mule/call-centers-api" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/call-centers-api http://www.mulesoft.org/schema/mule/call-centers-api/current/mule-call-centers-api.xsd
http://www.mulesoft.org/schema/mule/salesforces-api http://www.mulesoft.org/schema/mule/salesforces-api/current/mule-salesforces-api.xsd">
    <http:listener-config name="lead-360-papi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="lead-360-papi-config" api="resource::1ae8b068-9b03-48ad-9448-c353ff5ff5e4:lead-360-papi:1.0.1:raml:zip:lead-360-papi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <salesforces-api:config name="Salesforce_sAPI_Config" doc:name="Salesforce sAPI Config" doc:id="900224ca-72de-4653-89f1-944154d4ccbe" property_host="salesforce-iccs-sapi.us-e2.cloudhub.io" property_port="80" property_protocol="HTTP" property_basePath="/api" />
	<call-centers-api:config name="Call_Center_sAPI_Config" doc:name="Call Center sAPI Config" doc:id="23ac4d06-400d-4f4e-bbd3-dbd9fc8fa505" property_host="call-center-sapi.us-e2.cloudhub.io" property_port="80" property_protocol="HTTP" property_basePath="/api" />
	<flow name="lead-360-papi-main">
        <http:listener config-ref="lead-360-papi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="lead-360-papi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="lead-360-papi-console">
        <http:listener config-ref="lead-360-papi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="lead-360-papi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\leads:lead-360-papi-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    fechaCreacion: "2021-12-23",
    nombre: "Javier",
    apellidos: "Lopez Rodriguez",
    email: "jlopez@gmail.com ",
    direccion: "Avenida Andalucia 23, Granada",
    "compañia": "NA",
    estado: "Nuevo"
  }, 
  {
    fechaCreacion: "2021-12-23",
    nombre: "Mario",
    apellidos: "Carrillo Moreno",
    email: "mcarrillo@gmail.com",
    direccion: "Gran Via de Colon 23, Granada",
    "compañia": "Autonomo",
    estado: "Nuevo"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="Convertido" doc:name="Set Variable" doc:id="55304c54-6ae7-43bd-9f82-98c3bca36080" variableName="status" />
		<salesforces-api:get-leads doc:name="Get leads" doc:id="4b13702e-b7bd-43c3-83ea-c8696775f04b" config-ref="Salesforce_sAPI_Config" estado="#[vars.status]"/>
		<choice doc:name="Choice" doc:id="9633f2a2-77c4-4fa8-98e1-2f8451599cf2" >
			<when expression="#[vars.status == 'Convertido']">
				<ee:transform doc:name="Transform Message" doc:id="08f5732b-47a1-43e4-9953-c2f57f7f8f4a">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    "fechaCreacion": "2021-12-23",
    "nombre": "Javier",
    "apellidos": "Lopez Rodriguez",
    "email": "jlopez@gmail.com ",
    "direccion": "Avenida Andalucia 23, Granada",
    "compañia": "NA",
    "estado": "Nuevo"
  },
  {
    "fechaCreacion": "2021-12-23",
    "nombre": "Mario",
    "apellidos": "Carrillo Moreno",
    "email": "mcarrillo@gmail.com",
    "direccion": "Gran Via de Colon 23, Granada",
    "compañia": "Autonomo",
    "estado": "Nuevo"
  }
]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<call-centers-api:create-lead doc:name="Create lead" doc:id="c671f7b0-960c-4101-8a47-3c254706d0b7" config-ref="Call_Center_sAPI_Config"/>
				<ee:transform doc:name="Transform Message" doc:id="b27a79aa-ca36-4978-b3c6-cbb97ba48c40" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
'Created in Call center']]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="279e80aa-217e-4da2-8d28-264b5c46e044" message="#['No leads available for send to call center']"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="1dbdb096-1dbc-4f77-8727-edfa522bf476" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\leads:application\json:lead-360-papi-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	apellidos: payload01.apellidos,
	estado: payload01.estado,
	direccion: payload01.direccion,
	fechaCreacion: payload01.fechaCreacion,
	nombre: payload01.nombre,
	email: payload01.email,
	"compañia" : 'ICCS'
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<salesforces-api:create-lead doc:name="Create lead" doc:id="b8c4da00-ce88-4ed8-b6f9-e8125855d6a6" config-ref="Salesforce_sAPI_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="6f7081c5-0d67-4e96-afff-0db50c235fa6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
