call-center-sapi/src/main/mule/call-center-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="call-center-sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="call-center-sapi-config" api="resource::1ae8b068-9b03-48ad-9448-c353ff5ff5e4:call-center-sapi:1.0.0:raml:zip:call-center-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="425ec143-01e7-4a3c-8cdd-dc569170e45f" >
		<http:request-connection host="sanciones-mockapi.us-e2.cloudhub.io" port="80" />
	</http:request-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="923fea8f-ef41-40c8-a536-2d777011f9c2" >
		<db:my-sql-connection host="${sql.host}" port="${sql.port}" user="${sql.user}" password="${sql.password}" database="${sql.db}" />
	</db:config>
	<flow name="call-center-sapi-main">
        <http:listener config-ref="call-center-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="call-center-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="call-center-sapi-console">
        <http:listener config-ref="call-center-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="call-center-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\leads:call-center-sapi-config">
		<db:select doc:name="Select" doc:id="88affc55-e96b-4a51-80a1-1b486f739c2b" config-ref="Database_Config">
			<db:sql ><![CDATA[Select * from Customers]]></db:sql>
		</db:select>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    fechaCreacion: "2021-12-23",
    nombre: "Javier",
    apellidos: "Lopez Rodriguez",
    email: "jlopez@gmail.com ",
    direccion: "Avenida Andalucia 23, Granada",
    "compañia": "NA",
    estado: "Nuevo"
  }, 
  {
    fechaCreacion: "2021-12-23",
    nombre: "Mario",
    apellidos: "Carrillo Moreno",
    email: "mcarrillo@gmail.com",
    direccion: "Gran Via de Colon 23, Granada",
    "compañia": "Autonomo",
    estado: "Nuevo"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\leads:application\json:call-center-sapi-config">
        <ee:transform doc:name="Transform Message" doc:id="8ea196cb-aacb-423b-94a5-1f20d58885b2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#['api']" doc:name="Destination" doc:id="289269b1-1f0f-406f-a902-16f320945ae2" variableName="destination"/>
		<choice doc:name="Choice" doc:id="5d4a6a78-c2ed-43ea-a321-a3d1a0a5505d" >
			<when expression="#[vars.destination == 'api']">
				<http:request method="GET" doc:name="Request" doc:id="f06b9396-eea2-41bf-9106-1edce04b035e" config-ref="HTTP_Request_configuration" path="/sanciones"/>
				<ee:transform doc:name="Transform Message" doc:id="fe42ee95-01e8-419b-9c9e-b417f6f02dc4" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<db:insert doc:name="Insert" doc:id="3d72093e-4ff8-4849-a697-02a9d4535162" config-ref="Database_Config">
					<db:sql ><![CDATA[INSERT INTO `Customers` VALUES ('','Alfreds Futterkiste','Maria Anders','Sales Representative',NULL,NULL,NULL,NULL,NULL,NULL,NULL)]]></db:sql>
				</db:insert>
				<ee:transform doc:name="Transform Message" doc:id="2771933f-9a14-4700-889e-23ef40fb668e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Created"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
